<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--for device compatibiliity-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="../static/CSS/header.css">
    <link rel="stylesheet" href="../static/CSS/table.css">
    <link rel="stylesheet" href="../static/CSS/dropdownstyle.css">
  </head>
  <body>
    <div class="header_entry">
      <div style="flex:1" class="ipl_part">
        <div>
          <img class="ipl_logo" src="../static/images/ipl.jpg" alt="IPL 2020">
        </div>
        <div style="margin-left:10px; font-style: italic; font-size: 30px;">
          <a class="home" href="/">IPL</a>
        </div>
      </div>
      <div  style="flex:1" class="middle_header">
        <div class="right_boxes">
          <a class="right_box" href="/matches">Matches</a>
        </div>
        <div class="right_boxes">
          <a class="right_box" href="/">Teams</a>
        </div>
        <div class="right_boxes">
          <a class="right_box" href="/players">Players</a>
        </div>
        <div class="dropdown"><!--can use select once check-->
          <button class="dropbtn">More ...</button>
          <div class="dropdown-content">

            <a class="dropdown" href="/mvp">MVP</a>
            <a class="dropdown" href="#">ABOUT</a>
            <a class="dropdown" href="#">ADMIN</a>
          </div>
        </div>
      </div>
      <div class="right_header">
        <button onclick="location.href='/login'" class="but" type="button">login</button>
        <form autocomplete="on"><input class="Search_bar" type="text" placeholder="  Search..."></form>
      </div>
    </div>
    <!--<div class="background">
        <img src="../static/images/images.jpg" alt="MUMBAI INDIANS">
    </div>-->
    <div class="ipl2020">
      <a>MUMBAI INDIANS</a>
    </div>
    <div style="overflow-x: auto;">
      <table>
        <thead>
        <tr class="header_table">
          <th>POS</th>
          <th>TEAM</th>
          <th>PLAYED</th>
          <th>WON</th>
          <th>LOST</th>
          <th>TIED</th>
          <th>POINTS</th>
          <th>NRR</th>
        </tr>
      </thead>
      <tbody>


      {% for team in teams%}
      {% if loop.index % 2 == 0%}
        <tr class="grayrow">
          {% else %}
      <tr class="whiterow">
        {% endif %}
          <td>{{ loop.index}}</td>
          <td class="teami">
            <a class="team_name" href="/team/t_id={{ team[0] }}">{{ team[1] }}</a>
          </td>
          <td>{{ team[2] }}</td>
          <td>{{ team[3] }}</td>
          <td>{{ team[4] }}</td>
          <td>0</td>
          <td>{{ team[5] }}</td>
          <td>{{ team[7] }}</td>
        </tr>
      {% endfor %}
        </tr>
      </tbody>
    </table>
    </div>
  <footer class="footer_entry">
    <small>copyrights<sup>R</sup></small>
  </footer>
  </body>
</html>