<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" href="../static/CSS/team.css">

    <link rel="stylesheet" href="../static/CSS/header.css">
    <link rel="stylesheet" href="../static/CSS/dropdownstyle.css">
  </head>
  <body>
    <div class="header_entry">
      <div style="flex:1" class="ipl_part">
        <div>
          <img class="ipl_logo" src="../static/images/ipl.jpg" alt="IPL 2020">
        </div>
        <div style="margin-left:10px; font-style: italic; font-size: 30px;">
          <a class="home" href="./home.html">IPL 2020</a>
        </div>
      </div>
      <div  style="flex:1" class="middle_header">
        <div class="right_boxes">
          <a class="right_box" href="./matches.html">Matches</a>
        </div>
        <div class="right_boxes">
          <a class="right_box" href="./home.html">Teams</a>
        </div>
        <div class="right_boxes">
          <a class="right_box" href="./player.html">Players</a>
        </div>
        <div class="dropdown"><!--can use select once check-->
          <button class="dropbtn">More ...</button>
          <div class="dropdown-content">
            <a class="dropdown" href="#">DELIVERIES</a>
            <a class="dropdown" href="#">MVP</a>
            <a class="dropdown" href="#">ABOUT</a>
            <a class="dropdown" href="#">ADMIN</a>
          </div>
        </div>
      </div>
      <div class="right_header">
        <button onclick="location.href='./login.html'" class="but" type="button">login</button>
        <form autocomplete="on"><input class="Search_bar" type="text" placeholder="  Search..."></form>
      </div>
    </div>
  <div class="name">
    MUMBAI INDIANS
  </div>
  <table>
    <thead>
      <tr class="theadr">
        <th>
          name
        </th>
        <th>
          team_id
        </th>
        <th>
          team_name
        </th>
        <th>
          runs
        </th>
        <th>
          wickets
        </th>
        <th>
          sixers
        </th>
        <th>
          fours
        </th>
        <th>
          srtike_rate
        </th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        R sharma
      </td>
      <td>
        45
      </td>
      <td>
        mumbai indians
      </td>
      <td>
        4570
      </td>
      <td>
        10
      <td>
        208
      </td>
      <td>
        430
      </td>
      <td>
        139.8
      </td>
    </tr>
    <tr>
      <td>
        R sharma
      </td>
      <td>
        45
      </td>
      <td>
        mumbai indians
      </td>
      <td>
        4570
      </td>
      <td>
        10
      </td>
      <td>
        208
      </td>
      <td>
        430
      </td>
      <td>
        139.8
      </td>
    </tr>
    <tr>
      <td>
        R sharma
      </td>
      <td>
        45
      </td>
      <td>
        mumbai indians
      </td>
      <td>
        4570
      </td>
      <td>
        10
      </td>
      <td>
        208
      </td>
      <td>
        430
      </td>
      <td>
        139.8
      </td>
    </tr>
    <tr>
      <td>
        R sharma
      </td>
      <td>
        45
      </td>
      <td>
        mumbai indians
      </td>
      <td>
        4570
      </td>
      <td>
        10
      </td>
      <td>
        208
      </td>
      <td>
        430
      </td>
      <td>
        139.8
      </td>
    </tr>
    <tr>
      <td>
        R sharma
      </td>
      <td>
        45
      </td>
      <td>
        mumbai indians
      </td>
      <td>
        4570
      </td>
      <td>
        10
      </td>
      <td>
        208
      </td>
      <td>
        430
      </td>
      <td>
        139.8
      </td>
    </tr>
  </tbody>
</table>
<footer class="footer_entry">
  <small>copyrights<sup>R</sup></small>
</footer>
</body>
</html>